<div class="flex py-2 pr-6 pl-5 shadow-inner absolute right-0">
    <div class="flex space-x-4 items-center justify-end">
        <img class="w-6 h-3/4 rounded-lg" src="./assets/img/icon/info.png" />
        <img class="w-6 h-3/4 rounded-lg" src="./assets/img/icon/icon.png" />
        <div class="flex space-x-2 items-center justify-center">
            <div class="w-8 h-8 bg-gray-200 rounded-full">&nbsp;</div>
            <p class="text-sm leading-snug text-gray-800">Admin</p>
            <img class="w-4 h-1/2 rounded-full" src="./assets/img/icon/ic_baseline-keyboard-arrow-down.png" />
        </div>
    </div>
</div>