@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

html, body { height: 100%; }
body { font-family: 'Source Sans Pro', sans-serif;}

.modal-form .mat-dialog-container {
    padding: 0 !important;
}