@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Source Sans Pro', sans-serif;
    }
    .modal-form {
        .mat-dialog-container {
            padding: 0px !important;
        }
        dialog-overview-example-dialog.ng-star-inserted > div {
            margin-right: -24px;
            margin-left: -24px;
        }
        
        .mat-dialog-actions {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        
        .mat-dialog-title {
        margin-top: 15px !important;
        }

        .mat-dialog-content {
            padding: 0px !important;
            margin: 0px !important;
        }
        
        .mat-dialog-actions{
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}