// This part is using for import fonts source sans pro
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

/* This part is using for Tailwind configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* This part using for custom CSS if needed */
@layer base {
    /* Define all body font with source sans pro */
    html {
        font-family: 'Source Sans Pro', sans-serif;
    }

    /* Custom css for angular modal material */
    .modal-form {
        .mat-dialog-container {
            padding: 0px !important;
        }
        dialog-overview-example-dialog.ng-star-inserted > div {
            margin-right: -24px;
            margin-left: -24px;
        }
        
        .mat-dialog-actions {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
        
        .mat-dialog-title {
        margin-top: 15px !important;
        }

        .mat-dialog-content {
            padding: 0px !important;
            margin: 0px !important;
        }
        
        .mat-dialog-actions{
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}